:root {

    /* **************************** */
    /* ********** COLORS ********** */
    /* **************************** */

    --Gradient-1: linear-gradient(#FF6F48, #F02AA6);
        --Gradient-1-hover: linear-gradient(#FF6F4888, #F02AA688);

        --Gradient-2: linear-gradient(#4851FF, #F02AA6);
        --Gradient-2-hover: linear-gradient(#4851FF88, #F02AA688);

        --background-gradient: linear-gradient(#FFFFFF, #F0F1FF);

        --lilac: #666CA3;
        --dark-blue: #13183F;
        --blue-gray: #83869A;
        --hot-pink: #F74780;
        --pink: #FFA7c3;
        --white: #FFFFFF;
        --bg-white: #F0F1FF;
        --black: #000000;
        --off-white: #F2F2F2;


    /* **************************** */
    /* ******* FONT STYLES ******** */
    /* **************************** */

        --boldest: 800;
        --bold: 700;
        --normal: 500;

        --XL-font-size: 40px;
        --XL-line-height: 50.4px;

        --l-heading-font-size: 24px;
        --l-heading-line-height: 32px;

        --m-heading-font-size: 20px;
        --m-heading-line-height: 25.2px;

        --light-text-font-size: 16px;
        --light-text-line-height: 26px;

        --big-bold-text-font-size: 18px;
        --big-bold-text-line-height: 28px;

        --bold-text-font-size: 16px;
        --bold-text-line-height: 28px;


    /* **************************** */
    /* ********* GENERAL ********** */
    /* **************************** */

        --media-width: 375px;
        --container-width: 343px;

    /* **************************** */
    /* ********** HERO ************ */
    /* **************************** */

        --hero-img-width: 327px;


    /* **************************** */
    /* ********** CARDS *********** */
    /* **************************** */


        --course-padding-top: 24px;
        --course-padding-left: 28px;

        --card-width: 343px;
        --card-height: 259px;
        --card-margin-bottom: 40px;
        --card-border-radius: 10px;

        --icon-offset-top: -24px;

        --card-heading-margin-bottom: 16px;

        --card-text-margin-left: var(--course-padding-left);
        --card-p-margin-bottom: 24px;
        --card-p-width: 286px;

        --card-cta-width: 104px;


    /* **************************** */
    /* ********* FOOTER ********** */
    /* **************************** */

        --footer-height: 120px;

        --footer-btn-width: 140px;
        --footer-btn-height: 48px;

}


/* **************************** */
/* **** TEXT COLOR CLASSES **** */
/* **************************** */

.dk-blue {
    color: var(--dark-blue);
}

.btn-text {
    color: var(--white);
}

.blue-gray {
    color: var(--blue-gray);
}

.hot-pink {
    color: var(--hot-pink);
    text-decoration: none;
}

/* **************************** */
/* ******** FONT STYLES ******* */
/* **************************** */

body {font-family: 'Plus Jakarta Sans', sans-serif; font-size: 62.5%;}

.xl-head {
    font-weight: var(--boldest);
    font-size: var(--XL-font-size);
    line-height: var(--XL-line-height);
}

.l-head {
    font-weight: var(--boldest);
    font-size: var(--l-heading-font-size);
    line-height: var(--l-heading-line-height);
}

.m-head {
    font-weight: var(--boldest);
    font-size: var(--m-heading-font-size);
    line-height: var(--m-heading-line-height);
}

.light-text {
    font-weight: var(--normal);
    font-size: var(--light-text-font-size);
    line-height: var(--light-text-line-height);
}

.big-bold-text {
    font-weight: var(--bold);
    font-size: var(--big-bold-text-font-size);
    line-height: var(--big-bold-text-line-height);
}

.bold-text {
    font-weight: var(--bold);
    font-size: var(--bold-text-font-size);
    line-height: var(--bold-text-line-height);
}


/* **************************** */
/* ****** RESET BROWSER ******* */
/* **************************** */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}


/* **************************** */
/* ********** BODY ********** */
/* **************************** */


body {
    width: var(--media-width);
    margin: 0 auto;
}


/* **************************** */
/* ********** HEADER ********** */
/* **************************** */


header {
    width: var(--container-width);
    margin-inline:  auto;
    margin-block: 16px 38px;
    height: 48px;
    border: 3px solid red;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skilled-logo {
    width: 89px;
    height: auto;
}

.btn-nav {
    width: 140px;
    height: 48px;
    background-color: var(--dark-blue);
    color: var(--white);
    border: none;
    border-radius: 28px;
}

.btn-nav:hover {
    background-color: var(--lilac);
}


/* *************************** */
/* *********** HERO ********** */
/* *************************** */

.hero-container {
    width: var(--container-width);
    margin-inline: auto;
    margin-bottom: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    border: 3px solid green;
    margin-bottom: 46px;
}

.hero-text > h1 {
    width: 343px;
    margin-bottom: 26px;
}

.hero-text > p {
    width: 343px;
    margin-bottom: 24px;
}

.btn-cta {
    width: 167px;
    height: 56px;
    background-image: var(--Gradient-1);
    border: none;
    border-radius: 31.5px;
}

.btn-cta:hover {
    background-image: var(--Gradient-1-hover);
}

.hero-img {
    width: var(--hero-img-width);
    height: auto;
    border: 3px solid rgb(182, 237, 100);
}

.tablet, .desktop {
    display: none;
}


/* **************************** */
/* ********** CARDS ********** */
/* **************************** */

.card-container {
    background-image: var(--background-gradient);
}

.courseContainer {
    background-image: var(--Gradient-1);
    width: var(--card-width);
    height: 120px;
    margin-inline: auto;
    border-radius: var(--card-border-radius);
    margin-bottom: var(--card-margin-bottom);
}

.courseContainer > h2 {
    padding-top: var(--course-padding-top);
    padding-left: var(--course-padding-left);
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    margin-bottom: var(--card-margin-bottom);
    margin-inline: auto;
    border: 1px solid;
}

.icon {
    width: 56px;
    height: 56px;
    position: relative;
    top: var(--icon-offset-top);
    left: var(--course-padding-left);
}

.card > h3 {
    margin-bottom: var(--card-heading-margin-bottom);
    margin-left: var(--course-padding-left);
}

.card > p {
    margin-bottom: var(--card-p-margin-bottom);
    margin-left: var(--course-padding-left);
}

.card > a {
    margin-left: var(--course-padding-left);
}


/* **************************** */
/* ********** FOOTER ********** */
/* **************************** */

footer {
    width: var(--media-width);
    height: var(--footer-height);
    margin: 0 auto;
    background-color: var(--dark-blue);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    height: var(--footer-height);
    margin-inline: auto;
}

.btn-footer {
    width: var(--footer-btn-width);
    height: var(--footer-btn-height);
    background-image: var(--Gradient-2);
    color: var(--btn-text-color);
    border: none;
    border-radius: 28px;
    text-align: center;
    text-decoration: none;
}

.btn-footer:hover {
    background-image: var(--Gradient-2-hover);
}


/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
body {
    border: 3px solid blue;
}
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
/********* REMOVE BEFORE SUBMITTING*********/
